DATABASE_URL=sqlite:mantra.db

# SMTP Server Config 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# SMTP Auth
# For Gmail, use your email and an "App Password"
SMTP_USERNAME=
SMTP_PASSWORD=

# Email Address
EMAIL_FROM=
EMAIL_TO=

# Optional timeout
# SMTP_TIMEOUT=60